* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Converts default of 16px to 10px.*/
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Menu Sidebar*/

.brand button {
  padding: 0.5rem;
  display: flex;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.brand button:hover {
  color: orange;
}

.brand a {
  display: flex;
  padding-left: 4rem;
}

nav {
  display: none;
  flex-wrap: wrap;
  padding: 1.5rem;
  position: fixed;
  width: 30rem;
  background-color: gray;
  height: 100%;
  color: rgb(220, 235, 90);
  font-size: 2rem;
}


.nav-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav-ul.show {
  display:flex;
}

.nav-ul li a {
  display: inline-block;
  color: darkgreen;
  font-weight: bolder;
  font: Helvetica;
  font-size: 1.8rem;
  font-weight: bolder;
}

.nav-ul li a:hover {
  color: darkred;
}

/*
.hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
*/

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  /* Covers the entire viewport.*/
}

.header {
  grid-area: header;
  background-color: #8916b6;
  color: #ffffff;
  display: flex;
  /* Lines up the links */
  justify-content: space-between;
  /* Move the divs (selectchoice and cart & signin/login) to opposite ends. */
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  /* Removes underline.*/
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  /* Removes underline.*/
  font-size: 2.30rem;
  font-weight: bold;
  font: Arial;
}


/* Orange on hover is not working!!*/

header-links a:hover {
  color: #ff8000;
  /* Orange on hover*/
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  /* Moves everything to same line */
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  font: Helvetica;
  background-color: #8916b6;
  color: white;
}


/*Home Screen*/

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*keep all items to fit within the browser window*/
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

.pagetitle {
  display: flex;
  justify-content: center;
  font: Century;
  font-size: 2.5rem;
  text-decoration: underline;
}
